vti_encoding:SR|utf8-nl
vti_author:SR|HOME-849BF4FC67\\Tonywarringle
vti_modifiedby:SR|HOME-204D8C6F31\\Tonyw@rringle
vti_timelastmodified:TR|26 Sep 2010 12:55:58 -0000
vti_timecreated:TR|06 Sep 2010 09:15:35 -0000
vti_extenderversion:SR|12.0.0.4518
vti_backlinkinfo:VX|
vti_cacheddtm:TX|26 Sep 2010 12:55:58 -0000
vti_filesize:IR|2201
vti_cachedlinkinfo:VX|S|layout.css S|../images/images.jpg S|../images/images\\ (2).jpg
vti_cachedsvcrellinks:VX|FSUS|styles/layout.css FSUS|images/images.jpg FSUS|images/images\\ (2).jpg
